{% extends 'base.html' %}
{% block title %}Earn{% endblock title %}
{% block body %}
<div class="container-fluid">
  <img src="/static/money1.jpg" class="img-fluid" alt="...">
</div>
<div data-aos="fade-up" data-aos-duration="3000">
  <div class="container mt-4">
    <h1 style="text-align:center;color:white;">MORE INFORMATION</h1>
    <p class="text-center" id="learnn" style="color:white;">LEarn Corridor platform provides our learners with the opportunities to turn
      their learning in an asset for incrementing their values and building a solid career with enlightened future.
      In this era, where finding a source to earn becomes a back-breaking task, we accomplish this arduous job for our
      learners by providing them with internships over wide ranges, engagements with renowed companies, freelancing and
      many more.
    </p>
    <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
    <p class="toop" style="font-size: 34px;font-family: cursive;margin-top: 50px;color:white;">• Internship offers- </p>
    <div class="container-fluid mr-3">
      <img src="/static/internship1.jpg" class="img-fluid" alt="...">
    </div>
    <p id="learnn" style="color:white;"> -The trained learners are provided with internships that ranges with wide varieties and
      subsequential incrementations over the time.
    </p>
    <p id="learnn" style="color:white;">-The internship not only offers the ways to earn by applying your skills but brings furthermore
      resources for you to grab and level up for better outputs.
    </p>
    <p id="learnn" style="color:white;">-These ways bring the various challenges and better enhancement in ones approachable concepts, thus
      wider scope of earnings.
    </p>
    <p id="learnn" style="color:white;">-With better accomplishments and recognised efforts comes in the progressive and promising careers.
    </p>
  </div>
    <p class="toop" style="font-size: 34px;font-family: cursive;margin-top: 50px;color:white;">• Direct internship available- </p>
    <div class="container-fluid mr-3">
      <img src="/static/internship.jpg" class="img-fluid" alt="...">
    </div>
    <p id="learnn" style="color:white;">• Direct internships are also provided by assessing your knowledge and core concepts.
    </p>
    <p id="learnn" style="color:white;">• To the learners who are already trained and don't wish to go through the first level of learning
      session, can directly take the advantage of internship offers and get a chance to flourish financially through
      their knowledge.
      .</p>
    <p id="learnn" style="color:white;">• Candidates of this category will first have to go through a test which is an interview round by our
      professionals to get a check of their knowledge and specifications of the subjects.</p>
    <p id="learnn" style="color:white;">• If the candidates clear and pass in the interview with flying colors they will get internships
      offers directly and will be connected with direct engagements.</p>
    <p id="learnn" style="color:white;">• For those who couldn't clear the test, we provide you the chance to restructure yourself by taking
      training sessions by our professionals and experts on the subjects and can get direct internships once the
      training gets completed.
    </p>
    <p class="toop" style="font-size: 34px;font-family: cursive;margin-top: 50px;color:white;">Engagements with companies :-</p>
    <div class="container-fluid mr-3">
      <img src="/static/internship2.jpg" class="img-fluid" alt="...">
    </div>
    <p id="learnn" style="color:white;">The platform has also tied knots and have engagements with the eminent companies all around the
      globe, getting you the measurable chances of direct and effortless placements.
    </p>
    <p class="toop" style="font-size: 34px;font-family: cursive;margin-top: 50px;color:white;">Freelancing available :-</p>

    <p id="learnn" style="color:white;">The overall working of the platform, focuses to provide freelance to the learners to maximize their
      chance to earn and eventually grow.
    </p>
    <p class="toop" style="font-size: 34px;font-family: cursive;margin-top: 50px;color:white;">The platform ensures that the
      learners 'Go Prepared' on this journey, each day closer to their destination of being financially stable by
      restructuring them for all the phases.</p>
  </div>
  <div class="container">
    <div class="text-center my-5">
      <a class="nav-link mr-2 btn-primary" style="width:13rem;margin-left:45%;color:white;" href="/contact">Contact Us</a>
    </div>
  </div>
</div>
</div>
<div class="container-fluid mt-4 mb-4 col-md-8 fa-text-width:30px">
  <h1 style="font-size:45px;font-weight:bold;font-family:cursive;color:white;">Connect With Us :-</h1>
  <a href="https://www.facebook.com/LEarn-Corridor-118931766492112/" class="fa fa-facebook ml-4 mt-5"></a>
  <a href="https://twitter.com/CorridorLearn" class="fa fa-twitter ml-4 mt-5"></a>
  <a href="https://instagram.com/learn_corridor?igshid=14zt39c3bpr0d" class="fa fa-instagram ml-4 mt-5"></a>
  <a href="https://www.linkedin.com/company/learn-corridor" class="fa fa-linkedin ml-4 mt-5"></a>
</div>
<div class="container-fluid ml-auto mt-4 mb-2">
  <div class="card" style="width: 100%;height: 225px; background-color:lightblue;">
    <div class="card-body">
      <a class="navbar-brand" href="/home">
        <img src="/static/rsz_logo.png" width="270" height="50" class="d-inline-block align-top" loading="lazy">
      </a>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary">footer</a>
    </div>
  </div>
</div>
{% endblock body %}