{% extends 'base.html' %}
{% block title %}Graphic Designing{% endblock title %}
{% block body %}
<div class="container mt-4">
    <img src="/static/graph1.jpg" class="img-fluid" alt="...">
</div>
<div class="container">
    <a href = '/checkout'><button type="button" class="btn btn-primary btn-lg my-4 col-md-12 text-center">Enroll Now In Rs.799 only</button></a>
</div>
<div data-aos="fade-up" data-aos-duration="3000">
    <div class="container mt-4">
        <h1 style="text-align:center;color:white;">Graphic Designing</h1>
        <p class="text-center" id="learnn" style="color:white;">Quick Course in Graphic design :-
        </p>
    </div>
    <div class="container mt-3">
        <div class="accordion" id="accordionExample">
            <div class="card" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0" style="font-family:cursive;font-weight:100;;">
                        <a class="btn btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            1. Introduction to graphic design.
                        </a>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                        1. Difference between art and design.
                    </div>
                    <div class="card-body" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                        2. Application of graphic design.
                    </div>
                    <div class="card-body" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                        3. Role of a graphic designer in industry.
                    </div>
                </div>
            </div>
            <div class="card" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <a class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            2. Adobe overview :-
                        </a>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                        1. Photoshop.
                    </div>
                    <div class="card-body" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                        2. Illustrator.
                    </div>
                    <div class="card-body" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                        3. Indesign.
                    </div>
                    <div class="card-body" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                        4. Gain a clear understanding of how to work with BOTH print and web projects in Photoshop, Illustrator, and InDesign.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                        <a class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            3. Graphic design elements and principle.
                        </a>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        1. Understanding graphic design elements.
                    </div>
                    <div class="card-body" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                        2. Understanding graphic design principles.
                    </div>
                    <div class="card-body" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                        3. Basic color theory.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                        <a class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            4.Photoshop Workshop.
                        </a>
                    </h2>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <a class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                             5. ILLUSTRATOR WORKSHOP
                        </a> 
                    </h2>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <a class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            6. Typography / Layout and composition
                        </a>
                    </h2>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-4 mb-4 col-md-8 fa-text-width:20px">
            <h1 style="font-size:45px;font-weight:bold;font-family:cursive;color:white;">Connect With Us :-</h1>
            <a href="https://www.facebook.com/LEarn-Corridor-118931766492112/" class="fa fa-facebook ml-4 mt-5"></a>
            <a href="https://twitter.com/CorridorLearn" class="fa fa-twitter ml-4 mt-5"></a>
            <a href="https://instagram.com/learn_corridor?igshid=14zt39c3bpr0d" class="fa fa-instagram ml-4 mt-5"></a>
            <a href="https://www.linkedin.com/company/learn-corridor" class="fa fa-linkedin ml-4 mt-5"></a>
        </div>
    </div>
        <div class="container-fluid ml-auto mt-4 mb-2">
            <div class="card" style="width: 100%;height: 225px; background-color:lightblue;">
                <div class="card-body">
                    <a class="navbar-brand" href="/home">
                        <img src="/static/rsz_logo.png" width="270" height="50" class="d-inline-block align-top"
                            loading="lazy">
                </div>
            </div>
        </div>
{% endblock body %}