{% extends 'base.html' %}
{% block title %}Grow{% endblock title %}
{% block body %}
<div class="container-fluid">
  <img src="/static/money1.jpg" class="img-fluid" alt="...">
</div>
<div data-aos="fade-up" data-aos-duration="3000">
  <div class="container mt-4">
    <h1 style="text-align:center;color:white;">MORE INFORMATION</h1>
    <p class="text-center" id="learnn" style="color:white;">LEarn Corridor provides a flourishing career path by keeping in account the various considerations regarding the growth rate of each of the learners.The growth rate is directly related to the performance one presents and we make sure to bring up that performance by various sessions and events to boost up the interest of all those indulged with us, in making this a grand platform.</p>
    <p class="text-center" id="learnn" style="color:white;">For proper growth there are various departments which needs to be keenly focused upon like evaluating the kind of teaching provided, measuring the growth of students, maintaining proper achievement standards, considering review factors, feedback analysis, adapting all dimensions of teaching, strengthening the professional and technical skills and many more.</p>

    <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
    <p class="toop" style="font-size: 34px;font-family: cursive;margin-top: 50px;color:white;">• Events -</p>
    <div class="container-fluid mr-3">
      <img src="/static/internship1.jpg" class="img-fluid" alt="...">
    </div>
    <p id="learnn" style="color:white;"> -For an optimal growth various sessions and events are organized timely, for persistent learning, creative thinking and enriching capacity.
    </p>
    <p id="learnn" style="color:white;">-These events help the learners reflect upon their growth rate and further gear up to achieve more in a challenging environment.
    </p>
    <p id="learnn" style="color:white;">-Our basic goal through these events is to understand the progress attained and the progress required and then to evaluate the growth rate.
    </p>
    <p id="learnn" style="color:white;">-Matching the growth rate attained and the growth rate required provides us with detailed analysis of the progress.
    </p>
    <p id="learnn" style="color:white;">-From all these deep analysis, we make sure that our learners get the required rapid growth, eventually, as they head up in the course and the course progresses.
    </p>
  </div>
    <p class="toop" style="font-size: 34px;font-family: cursive;margin-top: 50px;color:white;">• Webinars-</p>
    <div class="container-fluid mr-3">
      <img src="/static/internship.jpg" class="img-fluid" alt="...">
    </div>
    <p id="learnn" style="color:white;">-Various webinars on counselling, technical knowledge, personality development, importance of subjects, working in required direction, career plannings are organized through which all ambiguities are eliminated by presenting the solutions to the confusions, bringing the best experienced speakers for interaction from all around the globe.
    </p>
    <p id="learnn" style="color:white;">-These webinars give a clear and a broader view to come up and grow in your field.
    </p>
    <p id="learnn" style="color:white;">-The experts guide the learners to work on to become something which reminds us repeatedly to bring maximum output and performance growth.
    </p>
    <p class="toop" style="font-size: 34px;font-family: cursive;margin-top: 50px;color:white;">• Competitions</p>
    <div class="container-fluid mr-3">
      <img src="/static/internship2.jpg" class="img-fluid" alt="...">
    </div>
    <p id="learnn" style="color:white;">-Competition at each level spur the process of growth one must inculcate. It provides an arena to perfect one's skills and develop a mindset to get progress in this race and upcoming journey.
    </p>
        <p id="learnn" style="color:white;">-To imbibe these skills various quiz competitions are organized timely.
    </p>
        <p id="learnn" style="color:white;">-Perfect analysis of the growth rate is done, to check the learner's performance.
    </p>
        <p id="learnn" style="color:white;">-To bring enthusiasm and maintain a healthy work environment, the winners are provided with rewards and acknowledgments to uplift their morals.
    </p>
        <p id="learnn" style="color:white;">-Strategies are made and improvised to maintain the work pressure and stress, so the learners can deal with and manage, handle and tackle the hectic grind with ease, leading to growth.
    </p>
    <p class="toop" style="font-size: 34px;font-family: cursive;margin-top: 50px;color:white;"> As, growth of our learners means the growth of our platform. So, we keep our survey and study upgraded and updated for steady growth.</p>
  </div>
  <div class="container">
    <div class="text-center my-5">
      <a class="nav-link mr-2 btn-primary" style="width:13rem;margin-left:45%;color:white;" href="/contact">Contact Us</a>
    </div>
  </div>
</div>
</div>
<div class="container-fluid mt-4 mb-4 col-md-8 fa-text-width:30px">
  <h1 style="font-size:45px;font-weight:bold;font-family:cursive;color:white;">Connect With Us :-</h1>
  <a href="https://www.facebook.com/LEarn-Corridor-118931766492112/" class="fa fa-facebook ml-4 mt-5"></a>
  <a href="https://twitter.com/CorridorLearn" class="fa fa-twitter ml-4 mt-5"></a>
  <a href="https://instagram.com/learn_corridor?igshid=14zt39c3bpr0d" class="fa fa-instagram ml-4 mt-5"></a>
  <a href="https://www.linkedin.com/company/learn-corridor" class="fa fa-linkedin ml-4 mt-5"></a>
</div>
<div class="container-fluid ml-auto mt-4 mb-2">
  <div class="card" style="width: 100%;height: 225px; background-color:lightblue;">
    <div class="card-body">
      <a class="navbar-brand" href="/home">
        <img src="/static/rsz_logo.png" width="270" height="50" class="d-inline-block align-top" loading="lazy">
      </a>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary">footer</a>
    </div>
  </div>
</div>
{% endblock body %}