{% extends 'base.html' %}
{% block title %}LEARN{% endblock title %}
{% block body %}
<div class="container-fluid mr-3">
  <img src="/static/learn2.jpg" class="img-fluid" alt="...">
</div>
<div data-aos="fade-up" data-aos-duration="3000">
  <div class="container mt-4">
    <h1 style="text-align:center;color:white;">MORE INFORMATION</h1>
    <p class="text-center" id="learnn" style="color:white;">LEarn Corridor platform provides a detailed and an advanced learning programme of
      the various courses which are provided. We create a road map for our learners to follow, providing them with
      specifics and fundamentals before diving into deep ocean of knowledge and then leading their imagination to
      extensive levels.
    </p>
    <p id="learnn" style="color:white;">We offer the different standard based technical and training courses in the areas--</p>
  </div>
  <div data-aos="fade-right" data-aos-offset="400" data-aos-easing="ease-in-sine">
    <div class="container mt-4">
      <p class="toop" style="font-size: 38px;color:white;font-family:cursive;margin-top: 45px;text-align: center;color:white;">•Digital
        Marketing- </p>
      <img src="/static/imagee6.jpg" class="card-img-top" alt="...">
      <div class="card text-center" >
        <div class="card-header">
          LEarn Corridor
        </div>
        <div class="card-body">
          <h5 class="card-title">DIGITAL MARKETING</h5>
          <p class="card-text"> Marketing skills, building a firm foundation of marketing skills digitally.</p>
          <a href="/digital" class="btn btn-primary">Enroll Now</a>
        </div>
      </div>
      <p id="learnn" style="color:white;">Specialization in this course helps the learners to inculcate a broader view and perspectives on
        marketing skills, building a firm foundation of marketing skills digitally.</p>
    </div>
  </div>
  <div data-aos="fade-left" data-aos-offset="400" data-aos-easing="ease-in-sine">
    <div class="container mt-4">
      <p class="toop" style="font-size: 38px;color:white;font-family: cursive;margin-top: 45px;text-align: center;">•Graphic
        Designing-</p>
      <div class="card text-center">
        <img src="/static/imagee7.jpg" class="card-img-top" alt="...">
        <div class="card-header">
          LEarn Corridor
        </div>
        <div class="card-body">
          <h5 class="card-title">GRAPHIC DESIGNING</h5>
          <p class="card-text">The course helps to gear up your skills and polishings your designing views,visual
            thinking, composition using tools like-Adobe Photoshop and Illustrator, providing high scope for project
            based environment.</p>
          <a href="/graphic" class="btn btn-primary">Enroll Now</a>
        </div>
      </div>
      <p id="learnn" style="color:white;">This course provide a perfect package for all those who are planning to start their career in the
        designing field. The course helps to gear up your skills and polishings your designing views,visual thinking,
        composition using tools like-Adobe Photoshop and Illustrator, providing high scope for project based
        environment.</p>
    </div>
  </div>
  <div data-aos="fade-right" data-aos-offset="400" data-aos-easing="ease-in-sine">
    <div class="container mt-4">
      <p class="toop" style="font-size: 38px;color:white;font-family: cursive;margin-top: 45px;text-align: center;">•Full Stack Web
        Development-</p>
      <div class="card text-center">
        <img src="/static/coode.jpg" class="card-img-top" alt="...">
        <div class="card-header">
          LEarn Corridor
        </div>
        <div class="card-body">
          <h5 class="card-title">FULL STACK DEVELOPMENT</h5>
          <p class="card-text">This course covers all aspects frontend, backend and database skills to provide you with
            overall package covering all the spheres.</p>
          <a href="/full" class="btn btn-primary width:13rem">Enroll Now</a>
        </div>
      </div>
      <p id="learnn"style="color:white;">The course provides you an overall completion on full stack which is now becoming a new job trend.
        It provides you with the development skills to the core.The course covers all aspects frontend, backend and
        database skills to provide you with overall package covering all the spheres.</p>
    </div>
  </div>
  <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
    <div class="container mt-4">
      <p class="toop" style="font-size: 34px;font-family: cursive;margin-top: 50px;color:white;">Thus the different courses provided
        by LEarn Corridor are </p>

      <p id="learnn" style="color:white;">• Full-fledged in terms of knowledge and content.</p>
      <p id="learnn" style="color:white;">• Imbibing creativity by experienced faculty and team.</p>
      <p id="learnn" style="color:white;">•Bringing new project opportunities at each level, widening social networks.</p>
      <p id="learnn" style="color:white;">•Timely assessments for questioning, improving and bracing your knowledge.</p>
      <p id="learnn" style="color:white;">•Certifications from courses bringing new form of degree.</p>
      <p id="learnn" style="color:white;">•Concept development for each specifications.</p>
      <p id="learnn" style="color:white;">•Huge growth scope to get hike in upcoming days.</p>
      <p id="learnn" style="color:white;">•Presenting and showcasing skills with team members.</p>

      <p id="learnn" style="color:white;">LEarn Coridor ensures updated knowledge and imparting best learning platform to ensure that the
        process aligns with our vision of learning.
        Learning is not just about getting aware about the subject, but widening the thought process to improvise for
        betterment.</p>
    </div>
    <div class="container">
      <div class="text-center my-5">
        <a class="nav-link mr-2 btn-primary" style="width:13rem;margin-left:45%;color:white;" href="/contact">Contact Us</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-4 mb-4 col-md-8 fa-text-width:20px">
  <h1 style="font-size:45px;font-weight:bold;font-family:cursive;color:white;">Connect With Us :-</h1>
  <a href="https://www.facebook.com/LEarn-Corridor-118931766492112/" class="fa fa-facebook ml-4 mt-5"></a>
  <a href="https://twitter.com/CorridorLearn" class="fa fa-twitter ml-4 mt-5"></a>
  <a href="https://instagram.com/learn_corridor?igshid=14zt39c3bpr0d" class="fa fa-instagram ml-4 mt-5"></a>
  <a href="https://www.linkedin.com/company/learn-corridor" class="fa fa-linkedin ml-4 mt-5"></a>
</div>
<div class="container-fluid ml-auto mt-4 mb-2">
  <div class="card" style="width: 100%;height: 225px; background-color:lightblue;">
    <div class="card-body">
      <a class="navbar-brand" href="/home">
        <img src="/static/rsz_logo.png" width="270" height="50" class="d-inline-block align-top" loading="lazy">
      </a>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary">footer</a>
    </div>
  </div>
</div>
{% endblock body %}